<div class="ant-row">
  <div class="user">
    <div class="ant-sel">
      <!--<nz-input [nzType]="'search'" [nzPlaceHolder]="'Search Name'" [(ngModel)]="_value2" [nzPlaceHolder]="'default size'" class="ant-input">-->
      <!--</nz-input>-->
      <nz-input [nzType]="'search'" [nzPlaceHolder]="'input search text'" [(ngModel)]="_value" class="ant_search"></nz-input>
    </div>
    <div class="ant-sel">
      <nz-cascader [class.class123]="true" [nzOptions]="_options" [(ngModel)]="_value2" (ngModelChange)="_console($event)" (nzChange)="_console($event)" >
      </nz-cascader>
    </div>
    <div class="ant-sel" style="width: 33%;">
      <div class="ant_time_title">Createtime</div>
      <nz-datepicker style="width: 40%;" (ngModelChange)="_startDate=$event;_startValueChange()" [ngModel]="_startDate" [nzDisabledDate]="_disabledStartDate" [nzShowTime]="true" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'Start date'"></nz-datepicker>
      <nz-datepicker style="width: 40%;" (ngModelChange)="_endDate=$event;_endValueChange()" [ngModel]="_endDate" [nzDisabledDate]="_disabledEndDate" [nzShowTime]="_endTime" [nzFormat]="'YYYY-MM-DD HH:mm:ss'" [nzPlaceHolder]="'End date'"></nz-datepicker>
    </div>
    <button nz-button [nzType]="'primary'" [ngStyle]="_margin">
      <span>Search</span>
    </button>
    <button nz-button [nzType]="'default'" [ngStyle]="_margin">
      <span>Reset</span>
    </button>
    <div class="head_rt">
      <nz-switch [(ngModel)]="switchValue"></nz-switch>
      <button nz-button [nzType]="'default'" [ngStyle]="_margin" ngStyle="_create">
        <span>Create</span>
      </button>
    </div>
  </div>
</div>

<app-table [gridView]="gridView" [tableData]="dataSet"
           [total]="total"
           [(pageIndex)]="current"
           [pageSize]="pageSize"
           [loading]="loading"
           (refreshData)="refreshData($event)"></app-table>
