<div class="ant-row">
  <div class="ant-col-md-12 ant-col-lg-6">
    <div class="ant-card _1HU4h">
      <div class="ant-card-body" style="padding: 0px;">
        <i class="anticon anticon-pay-circle-o _3r2ne col1"></i>
        <div class="_3nTLW">
          <p class="_1ca2c">Online Review</p>
          <p class="_2mJV0">
            <span>2,781</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ant-col-md-12 ant-col-lg-6">
    <div class="ant-card _1HU4h">
      <div class="ant-card-body" style="padding: 0px;">
        <i class="anticon anticon-team _3r2ne col2"></i>
        <div class="_3nTLW">
          <p class="_1ca2c">New Customers</p>
          <p class="_2mJV0">
            <span>3,241</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ant-col-md-12 ant-col-lg-6">
    <div class="ant-card _1HU4h">
      <div class="ant-card-body" style="padding: 0px;">
        <i class="anticon anticon-message _3r2ne col3"></i>
        <div class="_3nTLW">
          <p class="_1ca2c">Active Projects</p>
          <p class="_2mJV0">
            <span>253</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ant-col-md-12 ant-col-lg-6">
    <div class="ant-card _1HU4h">
      <div class="ant-card-body" style="padding: 0px;">
        <i class="anticon anticon-shopping-cart _3r2ne" style="color: rgb(246, 152, 153);"></i>
        <div class="_3nTLW">
          <p class="_1ca2c">Referrals</p>
          <p class="_2mJV0">
            <span>4,324</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
