<div class="ant-row" style="margin-left: -12px; margin-right: -12px;">
  <div [ngStyle]="paddingStyle">
    <div class="numberCard">
      <i class="anticon anticon-pay-circle-o iconWarp" [ngStyle]="iconColor1"></i>
      <div class="content">
        <p class="title">Online Review</p>
        <p class="number">
          <span>2,781</span>
        </p>
      </div>
    </div>
  </div>
  <div [ngStyle]="paddingStyle">
    <div class="numberCard">
      <i class="anticon anticon-team iconWarp" [ngStyle]="iconColor2"></i>
      <div class="content">
        <p class="title">New Customers</p>
        <p class="number">
          <span>3,241</span>
        </p>
      </div>
    </div>
  </div>
  <div [ngStyle]="paddingStyle">
    <div class="numberCard">
      <i class="anticon anticon-message iconWarp" [ngStyle]="iconColor3"></i>
      <div class="content">
        <p class="title">Active Projects</p>
        <p class="number">
          <span>253</span>
        </p>
      </div>
    </div>
  </div>
  <div [ngStyle]="paddingStyle">
    <div class="numberCard">
      <i class="anticon anticon-shopping-cart iconWarp" [ngStyle]="iconColor4"></i>
      <div class="content">
        <p class="title">Referrals</p>
        <p class="number">
          <span>4,324</span>
        </p>
      </div>
    </div>
  </div>
  <!--echarts-->
  <!--<div class="ant-col-md-24 ant-col-lg-18" style="padding-left: 12px; padding-right: 12px;">-->
    <!--<div class="ant-card ant-card-padding-transition">-->
      <!--<div class="ant-card-body" style="padding: 24px 36px 24px 0px;">-->
        <!--&lt;!&ndash;<echart [chartType]="antChart"></echart>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <button (click)="randomize()" class="update_btn">Update</button>
</div>
