<div class="layout {{settings.layout.isCollapsed?'fold':''}}">
  <app-sider></app-sider>
  <div class="main">
    <app-header></app-header>
    <div class="bread">
      <nz-breadcrumb>
        <nz-breadcrumb-item>
          <i class="anticon anticon-home"></i>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a href=""><i class="anticon anticon-user"></i><span>Application List</span></a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a href="">Application</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>
    <div class="container">
      <div class="content">
        <div class="contentInner"></div>
      </div>
    </div>
  </div>

</div>


