<div class="sider {{theme?'dark':'light'}}">
  <div class="logo">
    <img src="../assets/logo.png" alt="">
    <span>AntD Admin</span>
  </div>
  <ul nz-menu [nzTheme]="theme?'dark':'light'" [nzInlineCollapsed]="settings.layout.isCollapsed" [nzMode]="settings.layout.isCollapsed?'vertical':'inline'">
    <li nz-submenu>
      <span title><i class="anticon anticon-user"></i><span class="nav-text">User</span></span>
      <ul>
        <li nz-menu-item>Tom</li>
        <li nz-menu-item>Bill</li>
        <li nz-menu-item>Alex</li>
      </ul>
    </li>
    <li nz-submenu>
      <span title><i class="anticon anticon-team"></i><span class="nav-text">Team</span></span>
      <ul>
        <li nz-menu-item>Team 1</li>
        <li nz-menu-item>Team 2</li>
      </ul>
    </li>
    <li nz-menu-item><span><i class="anticon anticon-file"></i><span class="nav-text">File</span></span></li>
  </ul>
  <div class="switchtheme" *ngIf="!settings.layout.isCollapsed">
    <span><i class="anticon anticon-bulb"></i>Switch Theme</span>
    <nz-switch [(ngModel)]="theme">
      <span checked>Dark</span>
      <span unchecked>Light</span>
    </nz-switch>
  </div>
</div>
